:root {
  --code-bg-color: #282c34;
  --accent-color: #3eaf7c;
  --MQMobileNarrow: 419px;

  --tipColor: #42b983;
  --warningColor: #e7c000;
  --dangerColor: #cc0000;
  --badgeTipColor: var(--tipColor);
  --badgeWarningColor: var(--warningColor);
  --badgeDangerColor: var(--dangerColor);
}